@using System.Web.Optimization;
<!DOCTYPE HTML>
<html ng-app="IssueTracker">
  <head>
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
  </head>
  <body>
    <div ng-view>
      
    </div>
  </body>
</html>


